<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServiceSecret</key>
	<string>$(SERVICE_SECRET)</string>
	<key>PublicServiceURL</key>
	<string>$(PUBLIC_SERVICE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.9</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/chentao1006/sidey/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>T9d+4vUpmrkAXNcwSOu7/MzSO6tIKr8JbVhYe4j0jaE=</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Sidey needs screen capture permission to extract text from your screen for OCR and AI analysis.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Sidey uses accessibility features to read selected text from other applications to provide AI assistance.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Sidey uses AppleScript to retrieve content from applications like Safari to provide better context for AI analysis.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Chen Tao. All rights reserved.</string>
</dict>
</plist>
